//Financial consulting and investment fcis page

.main_section_fcis {
    margin-top: 225px;
    .padding_helper {
        padding: 0 72px;
    }

    &_holder {
        width: 80%;
        margin-bottom: 113px;
        @media only screen and (max-width: 1440px) {
            width: 110%;
        }

        @media only screen and (max-width: 1400px) {
            width: 130%;
        }
        &_title {
            font-size: 52px;
            font-weight: 800;
            margin-bottom: 20px;

            @media only screen and (max-width: 1400px) {
                font-size: 44px;
            }
        }

        &_description {
            font-size: 16px;
            margin-bottom: 84px;

            @media only screen and (max-width: 1400px) {
                // font-size: 18px;
            }
        }
    }

    &_img {
        width: 100%;
    }
}

.tegum_services_fcis {
    position: relative;

    // .padding_helper {
    //     padding: 0 72px;
    // }
    .margin_helper {
        margin-top: 152px;
    }

    .border_helper {
        border-left: 2px solid #0011ff;
    }
    &_small_title {
        position: absolute;
        top: 66px;
        left: 72px;
        font-size: 16px;

        @media only screen and (max-width: 1200px) {
            font-size: 14px;
        }
    }

    &_title {
        margin-top: 152px;
        font-size: 22px;
        font-weight: 600;
    }

    &_holder {
        margin-top: 132px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            // margin-top: 132px;
            margin-bottom: 400px;
        }

        &_title {
            font-size: 22px;

            margin-bottom: 34px;

            @media only screen and (max-width: 1400px) {
                font-size: 18px;
            }
        }

        &_description {
            font-size: 16px;
            font-weight: 400;
        }

        &_description_2_1 {
            margin-top: 30px;
        }

        &_options {
            margin-top: 44px;
            padding-left: 56px;

            &_title {
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 600;
            }

            &_description {
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}

.get_started_fcis {
    position: relative;
    padding: 114px 0;
    background-color: #a3f34a;
    &_small_title {
        position: absolute;
        top: 57px;
        left: 72px;
        font-size: 16px;

        @media only screen and (max-width: 1200px) {
            font-size: 14px;
        }
    }

    &_title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 28px;
    }

    a {
        all: unset;
    }

    &_btn {
        all: unset;
        width: 150px;
        height: 42px;
        text-align: center;
        background: #000000;
        border: 2px solid #000;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
}
