@import "navigation";
@import "contact";
@import "what_we_do_page";
@import "about-us";

body,
html {
    font-family: "Inter", sans-serif;
    color: #000;
}

.container_helper {
    padding-left: 72px;
    padding-right: 72px;

    @media only screen and (max-width: 991px) {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.notification {
    display: none;
    position: absolute;
    top: -70px;
    left: 0;

    &.active {
        display: block;
    }
}

.notifyjs-bootstrap-success {
    color: #000 !important;
}

.only_desktop {
    display: block;

    @media only screen and (max-width: 991px) {
        display: none;
    }
}

.only_mobile {
    display: none;

    @media only screen and (max-width: 991px) {
        display: block;
    }
}

.main_section {
    margin-top: 225px;

    @media only screen and (max-width: 991px) {
        margin-top: 145px;
    }

    &_holder {
        margin-bottom: 156px;

        @media only screen and (max-width: 991px) {
            margin-bottom: 80px;
        }

        &_title {
            font-size: 52px;
            font-weight: 800;
            margin-bottom: 20px;
            width: 100%;

            @media only screen and (max-width: 1400px) {
                font-size: 44px;
            }

            @media only screen and (max-width: 991px) {
                font-size: 30px;
            }

            @media only screen and (min-width: 1921px) {
                width: 70%;
            }
        }

        &_description {
            font-size: 22px;
            width: 85%;

            @media only screen and (max-width: 1400px) {
                font-size: 18px;
            }

            @media only screen and (max-width: 991px) {
                font-size: 14px;
            }
        }
    }

    &_img {
        width: 100%;
    }
}

.about_us {
    margin-bottom: 200px;
    position: relative;

    .sticky-parent {
        height: 313px;

        @media only screen and (max-width: 1400px) {
            height: 337px;
        }
    }

    .width_helper {
        margin-left: 8.33%;
        padding-left: 72px;

        @media only screen and (max-width: 991px) {
            margin-left: 12px;
            padding-left: 0;
        }
    }
    .sticky {
        position: sticky;
        top: 0px;
        // max-height: 50vh;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: hidden;
        // margin-bottom: 200px;
    }
    .dim {
        display: block;
        // min-width: 40vw;
        width: 750px;
        // min-width: 750px;

        @media only screen and (max-width: 576px) {
            min-width: 300px;
        }

        // &:first-child {
        //     margin-left: 9%;
        // }

        // height: 20vh;
    }
    .horizontal {
        display: flex;
        padding-top: 200px;

        @media only screen and (max-width: 991px) {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }

    .horizontal::-webkit-scrollbar {
        display: none;
    }

    &_title {
        position: absolute;
        top: 50px;
        left: 72px;
        font-size: 16px;

        @media only screen and (max-width: 1200px) {
            font-size: 14px;
        }

        @media only screen and (max-width: 991px) {
            left: 12px;
        }
    }

    .flex_columns {
        position: relative;
        // padding-right: 270px;
        padding-left: 0;
        width: 575px;
        margin-right: 175px;
        // width: 46%;

        // &:last-child {
        //     margin-right: 12px;
        // }

        // @media only screen and (max-width: 1440px) {
        //     padding-right: 100px;
        // }

        @media only screen and (max-width: 576px) {
            width: 300px;
        }

        &_plus {
            position: absolute !important;
            top: 12px;
            display: inline-block;
            cursor: pointer;
            height: 7px;
            position: relative;
            width: 20px;

            @media only screen and (max-width: 991px) {
                top: 9px;
            }
            &:before,
            &:after {
                background: #000;
                content: "";
                height: 2px;
                left: 0;
                position: absolute;
                top: 0;
                width: 20px;
                transition: transform 300ms ease;

                @media only screen and (max-width: 991px) {
                    width: 14px;
                }
            }

            &:after {
                transform-origin: center;
            }
            &.collapsed {
                &:after {
                    transform: rotate(90deg);
                }
                &:before {
                    transform: rotate(180deg);
                }
            }
        }

        &_title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 14px;
            padding-left: 40px;

            @media only screen and (max-width: 991px) {
                font-size: 14px;
                padding-left: 30px;
            }
        }

        &_description {
            font-size: 16px;
            padding-left: 40px;
            @media only screen and (max-width: 991px) {
                font-size: 12px;
                padding-left: 30px;
            }
        }
    }

    .card_scroller::-webkit-scrollbar {
        width: 0 !important;
    }
    .card_scroller::-ms-scrollbar {
        width: 0 !important;
    }
}

//accourdion

.spacer {
    height: 10px;
    background: #fff;
}

.what_we_do {
    background: #a3f34a;
    padding: 150px 0 0;
    position: relative;

    @media only screen and (max-width: 1440px) {
        padding-top: 100px;
    }

    &_small_title {
        position: absolute;
        top: 69px;
        left: 72px;
        font-size: 16px;

        @media only screen and (max-width: 1200px) {
            font-size: 14px;
        }

        @media only screen and (max-width: 991px) {
            left: 12px;
        }
    }
    .wrapper {
        .acc_container {
            #pin1 {
                height: 100vh;

                // height: 900px;
            }

            #pin2,
            #pin3 {
                height: 100vh;
                // height: 900px;
            }

            // #pin3 {
            //     height: 30vh;
            // }
            .item {
                // overflow: scroll;
                padding-right: 72px;
                // padding-left: 72px;
                margin-left: 72px;
                // border-top: 1px solid #000;
                overflow: hidden; /* Hide content that overflows the fixed height */
                // height: 100vh;

                @media only screen and (max-width: 991px) {
                    margin-left: 12px;
                    margin-right: 12px;
                }

                .container-fluid {
                    // overflow: auto; /* Enable scrolling for overflow content */
                    // height: 100%; /* Occupy the full height of the .item */
                    height: auto;
                    background-color: #fff;
                    // padding-bottom: 100px;
                    &::-webkit-scrollbar {
                        width: 0; /* Hide scrollbar for WebKit browsers */
                    }
                }

                .services_small_title {
                    position: absolute;
                    top: 69px;
                    left: 66px;
                    font-size: 16px;

                    @media only screen and (max-width: 1440px) {
                        top: 39px;
                        left: 46px;
                    }

                    @media only screen and (max-width: 1200px) {
                        font-size: 14px;
                    }
                }

                .padding_helper {
                    // padding: 17vh 0 17vh 13vh;
                    padding: 130px 0 130px 130px;
                    position: relative;

                    @media only screen and (max-width: 1440px) {
                        padding: 80px 0 80px 80px;
                    }
                }

                .option_holder {
                    margin-bottom: 50px;

                    @media only screen and (max-width: 1400px) {
                        margin-bottom: 40px;
                    }

                    @media only screen and (max-width: 1200px) {
                        margin-bottom: 34px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        cursor: none;
                    }
                    &_number {
                        color: #a4a4a4;
                        display: inline-block;
                        margin-right: 30px;
                        font-size: 28px;
                        font-weight: 400;

                        @media only screen and (max-width: 1440px) {
                            font-size: 24px;
                        }

                        @media only screen and (max-width: 1400px) {
                            font-size: 20px;
                        }

                        @media only screen and (max-width: 1200px) {
                            font-size: 18px;
                            margin-right: 14px;
                        }

                        // @media only screen and (max-width: 991px) {
                        //     font-size: 14px
                        // }
                    }

                    &_title {
                        display: inline-block;
                        color: #000;
                        font-size: 28px;
                        font-weight: 600;

                        @media only screen and (max-width: 1440px) {
                            font-size: 24px;
                        }

                        @media only screen and (max-width: 1400px) {
                            font-size: 20px;
                        }

                        @media only screen and (max-width: 1200px) {
                            font-size: 18px;
                        }

                        &:hover {
                            color: #0011ff;
                            text-decoration: underline;
                        }
                    }
                }

                .position_helper {
                    position: relative;
                }

                & img {
                    width: 100%;
                    padding: 130px 130px 0 0;
                    @media only screen and (max-width: 1440px) {
                        // padding: 50px;
                    }

                    @media only screen and (max-width: 1400px) {
                        // padding: 0;
                        // transform: scale(0.7);
                    }
                }

                &_img_1_1 {
                    display: none;
                }

                &_img_1_2 {
                    display: none;
                }
                &_img_1_3 {
                    display: none;
                }

                &_img_1_4 {
                    display: none;
                }

                &_img_2_1 {
                    display: none;
                }

                &_img_2_2 {
                    display: none;
                }
                &_img_2_3 {
                    display: none;
                }

                &_img_2_4 {
                    display: none;
                }

                &_img_3_1 {
                    display: none;
                }

                &_img_3_2 {
                    display: none;
                }
                &_img_3_3 {
                    display: none;
                }

                &_img_3_4 {
                    display: none;
                }

                &_img_3_5 {
                    display: none;
                }
            }

            .head_holder {
                background-color: #a3f34a;
                padding: 50px 0;
                // border-top: 1px solid #000;
                position: relative;

                @media only screen and (max-width: 1400px) {
                    // padding: 30px 0;
                }

                @media only screen and (max-width: 1200px) {
                    padding: 3vh 0;
                }

                .what_we_do_title {
                    font-size: 40px;
                    font-weight: 600;
                    display: inline-block;
                    margin: 0;
                    min-width: 540px;
                    margin-right: 190px;
                    // margin-right: 11vw;

                    @media only screen and (max-width: 1660px) {
                        margin-right: 113px;
                    }
                    // @media only screen and (max-width: 1440px) {
                    //     margin-right: 83px;
                    // }
                    // @media only screen and (max-width: 1400px) {
                    //     margin-right: 23px;
                    // }

                    @media only screen and (max-width: 1440px) {
                        font-size: 38px;
                        margin-right: 83px;
                        min-width: 510px;
                    }

                    @media only screen and (max-width: 1400px) {
                        font-size: 30px;
                        min-width: 420px;
                        // margin-right: 9vw;
                    }

                    @media only screen and (max-width: 1200px) {
                        font-size: 24px;
                        margin-right: 23px;
                    }
                }

                // .what_we_do_title_1 {
                //     margin-right: 240px;
                //     @media only screen and (max-width: 1660px) {
                //         margin-right: 160px;
                //     }

                //     @media only screen and (max-width: 1440px) {
                //         margin-right: 130px;
                //     }
                //     @media only screen and (max-width: 1400px) {
                //         margin-right: 58px;
                //     }
                // }
                // .what_we_do_title_2 {
                //     margin-right: 248px;

                //     @media only screen and (max-width: 1660px) {
                //         margin-right: 170px;
                //     }

                //     @media only screen and (max-width: 1440px) {
                //         margin-right: 140px;
                //     }
                //     @media only screen and (max-width: 1400px) {
                //         margin-right: 65px;
                //     }
                // }
                // .what_we_do_title_3 {
                //     margin-right: 190px;
                //     @media only screen and (max-width: 1660px) {
                //         margin-right: 113px;
                //     }
                //     @media only screen and (max-width: 1440px) {
                //         margin-right: 83px;
                //     }
                //     @media only screen and (max-width: 1400px) {
                //         margin-right: 23px;
                //     }
                // }

                .what_we_do_description {
                    display: inline-block;
                    width: 37vw;

                    vertical-align: top;
                    margin-top: 11px;

                    @media only screen and (max-width: 1660px) {
                        width: 33vw;
                    }

                    @media only screen and (max-width: 1440px) {
                        width: 35vw;
                    }

                    @media only screen and (max-width: 1400px) {
                        // width: 28vw;
                        font-size: 14px;
                    }
                }

                .what_we_do_btn {
                    position: absolute;
                    right: 0;
                    top: 71px;

                    @media only screen and (max-width: 1440px) {
                        top: 51px;
                    }

                    @media only screen and (max-width: 1200px) {
                        top: 35px;
                    }

                    .btn {
                        display: inline-block;
                        position: relative;
                        width: 150px;
                        height: 42px;
                        background: none;
                        border: none;
                        color: #0011ff;
                        font-size: 16px;
                        font-weight: bold;
                        cursor: pointer;
                        // margin: 20px 30px;
                        // background: rgba(0, 0, 0, 0.09);
                        background: transparent;
                        span {
                            display: block;
                        }

                        &:hover {
                            background: #0011ff;
                            color: #fff;
                        }
                    }
                    .additional_1,
                    .additional_2,
                    .additional_3 {
                        display: inline-block;
                        position: relative;
                        width: 150px;
                        height: 42px;
                        border: none;
                        color: #0011ff;
                        font-size: 16px;
                        font-weight: bold;
                        cursor: pointer;
                        // margin: 20px 30px;
                        background: transparent;
                        position: absolute;
                        span {
                            display: block;
                        }
                    }

                    .additional_1::before,
                    .additional_1::after,
                    .additional_2::before,
                    .additional_2::after,
                    .additional_3::before,
                    .additional_3::after {
                        content: "";
                        width: 20px;
                        height: 2px;
                        position: absolute;
                        transition: all 0.2s linear;
                        background: #0011ff;
                    }

                    .btn::before,
                    .btn::after {
                        content: "";
                        width: 20px;
                        height: 2px;
                        position: absolute;
                        transition: all 0.2s linear;
                        background: #0011ff;
                    }

                    span::before,
                    span::after {
                        content: "";
                        width: 2px;
                        height: 40px;
                        position: absolute;
                        transition: all 0.2s linear;
                        background: #0011ff;
                    }

                    .btn:hover::before,
                    .btn:hover::after {
                        width: 100%;
                    }

                    .additional_1.hovered_btn_1::before,
                    .additional_1.hovered_btn_1::after,
                    .additional_2.hovered_btn_2::before,
                    .additional_2.hovered_btn_2::after,
                    .additional_3.hovered_btn_3::before,
                    .additional_3.hovered_btn_3::after {
                        width: 150px;
                        right: 0;
                    }
                    .btn:hover span::before,
                    .btn:hover span::after {
                        height: 100%;
                    }
                    .btn_1::before,
                    .btn_2::before,
                    .btn_3::before {
                        left: -9px;
                        top: 0;
                        transition-duration: 0.4s;
                    }
                    .btn_1::after,
                    .btn_2::after,
                    .btn_3::after {
                        left: -9px;
                        bottom: 0;
                        transition-duration: 0.4s;
                    }
                    .additional_btn_1::before,
                    .additional_btn_2::before,
                    .additional_btn_3::before {
                        right: -9px;
                        top: 0;
                        transition-duration: 0.4s;
                    }
                    .additional_btn_1::after,
                    .additional_btn_2::after,
                    .additional_btn_3::after {
                        right: -9px;
                        bottom: 0;
                        transition-duration: 0.4s;
                    }
                    .btn_1 span::before,
                    .btn_2 span::before,
                    .btn_3 span::before {
                        left: 0;
                        top: 0;
                        transition-duration: 0.4s;
                    }
                    .btn_1 span::after,
                    .btn_2 span::after,
                    .btn_3 span::after {
                        right: 0;
                        top: 0;
                        transition-duration: 0.4s;
                    }
                    .btn_1:hover::before,
                    .btn_1:hover::after,
                    .btn_2:hover::before,
                    .btn_2:hover::after,
                    .btn_3:hover::before,
                    .btn_3:hover::after {
                        left: 0;
                    }

                    .btn_1:hover span::before,
                    .btn_1:hover span::after,
                    .btn_2:hover span::before,
                    .btn_2:hover span::after,
                    .btn_3:hover span::before,
                    .btn_3:hover span::after {
                        top: 0;
                    }
                }
            }
        }
    }
}

.testimonials {
    padding: 290px 0 300px;

    @media only screen and (max-width: 991px) {
        padding: 120px 0 100px;
    }
    // text-align: center;

    &_holder {
        width:42%;
        margin: auto;

        @media only screen and (max-width: 1440px) {
            width: 47%;
        }

        @media only screen and (max-width: 991px) {
            width: 100%;
            padding-left: 12px;
        }

        @media only screen and (min-width: 1921px) {
            width: 740px;
        }

        &_img {
            display: inline-block;
            margin-right: 55px;
            width: 55px;
            vertical-align: top;
            margin-top: 9px;
        }

        &_text {
            display: inline-block;
            font-size: 18px;
            width: 70%;

            @media only screen and (max-width: 1400px) {
                font-size: 16px;
            }

            @media only screen and (max-width: 991px) {
                font-size: 14px;
            }

            &_description {
                margin-bottom: 20px;
            }
        }
    }
}

.expertise {
    background-color: #f3f3f3;

    .container_expertise_heleper {
        padding: 0;
    }
    &_holder {
        margin-left: 72px;
        margin-right: 72px;
        padding: 56px 0;
        position: relative;
        border-bottom: 1px solid #000;

        @media only screen and (max-width: 1440px) {
            padding: 46px 0;
        }

        @media only screen and (max-width: 991px) {
            margin-left: 12px;
            margin-right: 12px;
            padding: 46px 0 76px;
        }

        &:first-child {
            padding: 90px 0;

            @media only screen and (max-width: 1440px) {
                padding: 80px 0;
            }
        }

        &:last-child {
            border-bottom: unset;
        }

        &_number {
            position: absolute;
            top: 20px;
            left: 0;
            color: #a4a4a4;
            font-size: 16px;
            font-weight: 400;

            // @media only screen and (max-width: 1440px) {
            //     font-size: 16px;
            // }

            @media only screen and (max-width: 991px) {
                font-size: 14px;
            }
        }

        &_number_main {
            top: 70px;
            width: 14%;

            @media only screen and (max-width: 1440px) {
                width: 17%;
            }

            @media only screen and (max-width: 1400px) {
                width: 27%;
            }

            @media only screen and (max-width: 991px) {
                width: 57%;
            }
        }

        &_title {
            font-size: 30px;
            color: #0011ff;
            display: inline-block;
            font-weight: 600;

            @media only screen and (max-width: 1440px) {
                font-size: 27px;
            }

            @media only screen and (max-width: 1400px) {
                font-size: 24px;
            }

            @media only screen and (max-width: 1200px) {
                font-size: 20px;
            }

            // @media only screen and (max-width: 991px) {
            //     width: 100%;
            // }
        }

        &_description {
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
            margin-right: 90px;

            @media only screen and (max-width: 1440px) {
                font-size: 14px;
                margin-right: 40px;
            }

            @media only screen and (max-width: 1200px) {
                margin-right: 0;
            }

            // @media only screen and (max-width: 991px) {
            //     width: 100%;
            //     margin: auto;
            //     // text-align: center;
            // }
        }

        &_description_main {
            margin-top: -20px;
            margin-right: unset;

            @media only screen and (max-width: 1440px) {
                margin-top: -10px;
            }

            @media only screen and (max-width: 991px) {
                width: unset;
            }
        }
    }
}

.challenges {
    padding: 270px 0;

    @media only screen and (max-width: 991px) {
        padding: 130px 0;
    }

    .margin_helper {
        // margin-left: 14vw;
    }

    .holder {
        // margin-left: 174px;
        width: 90%;
        margin-top: 30%;

        @media only screen and (max-width: 1440px) {
            width: 100%;
            margin-top: 24%;
        }

        @media only screen and (max-width: 1400px) {
            margin-top: 19%;
        }

        a {
            all: unset;
        }
    }

    &_img {
        width: 100%;
    }
    &_title {
        font-size: 46px;
        font-weight: 800;
        margin-bottom: 30px;

        @media only screen and (max-width: 1400px) {
            font-size: 38px;
        }

        @media only screen and (max-width: 991px) {
            font-size: 24px;
        }
    }

    &_btn {
        all: unset;
        width: 150px;
        height: 42px;
        text-align: center;
        background: #a3f34a 0% 0% no-repeat padding-box;
        border: 1px solid #a3f34a;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
}

.footer {
    padding: 66px 0 308px;
    color: #a4a4a4;
    background-color: #000;
    position: relative;

    a {
        all: unset;
    }

    &_logo {
        position: absolute;
        top: 59px;
        left: 72px;
    }

    &_list {
        .sr {
            all: unset;
            display: none;
            font-size: 16px;
            margin-right: 60px;
            cursor: pointer;

            &.active {
                display: inline-block;
            }
        }

        .en {
            all: unset;
            display: none;
            font-size: 16px;
            margin-right: 60px;
            cursor: pointer;

            &.active {
                display: inline-block;
            }
        }
        ul {
            list-style: none;
            display: inline-block;
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                margin-right: 85px;
                cursor: pointer;

                @media only screen and (max-width: 1200px) {
                    margin-right: 45px;
                }

                a {
                    all: unset;
                }
            }
        }
    }

    &_contact {
        font-size: 14px;
        font-weight: 400;
        margin-top: 92px;
        margin-bottom: 80px;
    }

    &_btn {
        all: unset;
        width: 152px;
        height: 44px;
        text-align: center;
        background: #a3f34a 0% 0% no-repeat padding-box;
        // border: 1px solid #a3f34a;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        color: #000;
        position: absolute;
        top: 57px;
        right: 72px;
    }
}
