.plus-minus-toggle {
  display: inline-block;
  cursor: pointer;
  height: 7px;
  position: relative;
  width: 20px;
}
.plus-minus-toggle:before, .plus-minus-toggle:after {
  background: #000;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
  transition: transform 300ms ease;
}
.plus-minus-toggle:after {
  transform-origin: center;
}
.plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: 0.25s ease-out;
  z-index: 100000;
  font-size: 16px;
}
.main-navigation .nav_logo {
  position: absolute;
  top: 40px;
  left: 72px;
}
@media only screen and (max-width: 1400px) {
  .main-navigation .nav_logo {
    top: 32px;
  }
}
.main-navigation a.active,
.main-navigation .sub_nav.active {
  color: #0011ff;
}
.main-navigation .opened {
  background: #fff;
}
.main-navigation .language_holder {
  display: inline-block;
  float: right;
  position: absolute;
  right: 72px;
  top: 35px;
}
@media only screen and (max-width: 1400px) {
  .main-navigation .language_holder {
    top: 32px;
  }
}
.main-navigation .language_holder a {
  all: unset;
}
.main-navigation .language_holder .inquire_btn {
  all: unset;
  width: 150px;
  height: 42px;
  text-align: center;
  background: #a3f34a 0% 0% no-repeat padding-box;
  border: 1px solid #a3f34a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.main-navigation .language_holder .sr {
  all: unset;
  display: none;
  font-size: 16px;
  margin-right: 60px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .main-navigation .language_holder .sr {
    margin-right: 35px;
  }
}
.main-navigation .language_holder .sr.active {
  display: inline-block;
}
.main-navigation .language_holder .en {
  all: unset;
  display: none;
  font-size: 16px;
  margin-right: 60px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .main-navigation .language_holder .en {
    margin-right: 35px;
  }
}
.main-navigation .language_holder .en.active {
  display: inline-block;
}
.main-navigation-list {
  background-color: white;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
  padding-left: 350px;
}
@media only screen and (max-width: 1400px) {
  .main-navigation-list {
    padding-left: 280px;
  }
}
@media only screen and (max-width: 1200px) {
  .main-navigation-list {
    padding-left: 220px;
  }
}
.main-navigation-list li a {
  display: block;
  color: #000;
  padding: 48px 35px;
  text-decoration: none;
}
@media only screen and (max-width: 1400px) {
  .main-navigation-list li a {
    padding: 41px 35px;
  }
}
@media only screen and (max-width: 1200px) {
  .main-navigation-list li a {
    padding: 40px 20px;
  }
}
.main-navigation-list.dropdown-menu .main-navigation-list.dropdown-menu {
  left: 100%;
  top: 0;
}
.main-navigation-list.dropdown-menu {
  display: none;
  position: fixed;
  min-width: 120px;
  height: 60vh;
  background-color: #000;
  width: 100%;
  left: 0;
  border: none;
  border-radius: 0;
}
.main-navigation-list.dropdown-menu img {
  height: 500px;
}
.main-navigation-list.dropdown-menu li {
  display: block !important;
  white-space: nowrap;
}
.main-navigation-list li {
  display: inline-block;
}
.main-navigation-list li.dropdown {
  position: relative;
}
.main-navigation-list li .sub_nav {
  display: block;
  color: #a4a4a4;
  padding: 30px 35px;
  text-decoration: none;
}
@media only screen and (max-width: 1200px) {
  .main-navigation-list li .sub_nav {
    padding: 40px 20px;
  }
}

.main-navigation.nav-up {
  top: -132px;
}

.nav_logo_mobile {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-items {
  position: fixed;
  overflow: scroll;
  padding: 15vh 3rem 9rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  opacity: 0;
  font-size: 14px;
  letter-spacing: 0.7;
  font-weight: 300;
  border: 4px solid #000;
  background-color: #000;
  transform: translateX(100%);
  transition: transform 200ms ease-in-out, opacity 100ms;
  z-index: 9;
  height: 100%;
}
.menu-items .language_holder {
  display: inline-block;
  float: right;
  position: absolute;
  right: 72px;
  top: 35px;
}
@media only screen and (max-width: 1400px) {
  .menu-items .language_holder {
    top: 32px;
  }
}
.menu-items .language_holder a {
  all: unset;
}
.menu-items .language_holder .sr {
  all: unset;
  display: none;
  font-size: 16px;
  margin-right: 60px;
  color: #a4a4a4;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .menu-items .language_holder .sr {
    margin-right: 35px;
  }
}
.menu-items .language_holder .sr.active {
  display: inline-block;
}
.menu-items .language_holder .en {
  all: unset;
  display: none;
  font-size: 16px;
  margin-right: 60px;
  color: #a4a4a4;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .menu-items .language_holder .en {
    margin-right: 35px;
  }
}
.menu-items .language_holder .en.active {
  display: inline-block;
}
.menu-items .plus-minus-toggle {
  display: inline-block;
  cursor: pointer;
  height: 6px;
  position: relative;
  width: 20px;
  margin-left: 10px;
}
.menu-items .plus-minus-toggle:before, .menu-items .plus-minus-toggle:after {
  background: #a4a4a4;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
  transition: transform 300ms ease;
}
.menu-items .plus-minus-toggle:after {
  transform-origin: center;
}
.menu-items .plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.menu-items .plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}
.menu-items .main-navigation-list {
  background-color: white;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
  padding: 0;
}
.menu-items .main-navigation-list li a {
  display: block;
  color: #a4a4a4;
  text-decoration: none;
}
.menu-items .main-navigation-list.dropdown-menu .menu-items .main-navigation-list.dropdown-menu {
  left: 100%;
  top: 0;
}
.menu-items .main-navigation-list.dropdown-menu {
  display: none;
  position: relative;
  min-width: 120px;
  height: auto;
  background-color: #000;
  width: 100%;
  left: 0;
  border: none;
  border-radius: 0;
}
.menu-items .main-navigation-list.dropdown-menu li {
  display: block !important;
  white-space: nowrap;
}
.menu-items .main-navigation-list li {
  display: inline-block;
}
.menu-items .main-navigation-list li.dropdown {
  position: relative;
}
.menu-items .main-navigation-list li .sub_nav_mobile {
  display: block;
  color: #a4a4a4;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
}

.menu_white_logo {
  position: absolute;
  top: 14px;
  left: 12px;
}

.menu-items li {
  color: #a4a4a4;
  padding: 23px 0;
  width: 95px;
}

.menu-items li a {
  color: #a4a4a4;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.check {
  position: fixed;
  right: 34px;
  top: 35px;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  z-index: 999;
}
@media only screen and (max-width: 991px) {
  .check {
    top: 10px;
    right: 10px;
    height: 2rem;
  }
}

.check:hover {
  cursor: pointer;
}

.check:checked ~ .menu-items {
  transform: translateX(0%);
  opacity: 1;
}

.check:checked ~ .ham-menu .line {
  background-color: #a4a4a4;
}

.check:checked ~ .language_mobile {
  z-index: 0;
}

.ham-menu {
  height: 33px;
  width: 45px;
  position: fixed;
  right: 8px;
  top: 8px;
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 0;
  z-index: 99;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.ham-menu .line {
  background-color: black;
  width: 1.5rem;
  height: 2px;
}

.ham-menu .line1 {
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
  transform-origin: 0% 100%;
  transition: transform 100ms ease-in-out;
}

.check:checked ~ .ham-menu {
  height: 3rem;
  top: 3px;
  right: 0;
  transform: scale(0.8);
  background-color: #000;
}

.check:checked ~ .ham-menu .line1 {
  display: block;
  transform: rotate(45deg);
}

.check:checked ~ .ham-menu .line3 {
  display: block;
  transform: rotate(-45deg);
}

.main_section_contact {
  margin-top: 225px;
}
@media only screen and (max-width: 991px) {
  .main_section_contact {
    margin-top: 145px;
  }
}
.main_section_contact_holder {
  width: 100%;
  margin-bottom: 113px;
}
.main_section_contact_holder_title {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1400px) {
  .main_section_contact_holder_title {
    font-size: 44px;
  }
}
@media only screen and (max-width: 991px) {
  .main_section_contact_holder_title {
    font-size: 30px;
  }
}
.main_section_contact_img {
  width: 100%;
  margin-top: 120px;
}
.main_section_contact .page_contact {
  font-size: 14px;
  font-weight: 400;
}

.form {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .form {
    margin-top: 16px;
  }
}
.form_btn {
  all: unset;
  width: 150px;
  height: 42px;
  text-align: center;
  background: #000000;
  border: 2px solid #000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.form .form-element {
  position: relative;
  margin-bottom: 45px;
}
@media only screen and (max-width: 1660px) {
  .form .form-element {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1200px) {
  .form .form-element {
    margin-bottom: 28px;
  }
}
.form .form-element-hint {
  font-weight: 400;
  font-size: 0.6875rem;
  color: #a4a4a4;
  display: block;
}
.form .form-element-bar {
  position: relative;
  height: 1px;
  background: #a4a4a4;
  display: block;
  margin-top: 20px;
}
@media only screen and (max-width: 991px) {
  .form .form-element-bar {
    margin-top: 14px;
  }
}
.form .form-element-bar::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  height: 2px;
  display: block;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.form .form-element-label {
  position: absolute;
  top: 0.75rem;
  line-height: 1.5rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #000;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
  will-change: transform, color, opacity;
}
@media only screen and (max-width: 991px) {
  .form .form-element-label {
    font-size: 14px;
  }
}
.form .form-element-field {
  outline: none;
  height: 1.5rem;
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border: 0 solid transparent;
  line-height: 1.5;
  width: 100%;
  color: #000;
  box-shadow: none;
  opacity: 0.001;
  transition: opacity 0.28s ease;
  will-change: opacity;
}
@media only screen and (max-width: 1660px) {
  .form .form-element-field {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .form .form-element-field {
    font-size: 14px;
  }
}
.form .form-element-field::-moz-placeholder {
  color: #a4a4a4;
  transform: scale(0.9);
  transform-origin: left top;
}
.form .form-element-field::placeholder {
  color: #a4a4a4;
  transform: scale(0.9);
  transform-origin: left top;
}
.form .form-element-field:focus ~ .form-element-bar::after {
  transform: rotateY(0deg);
}
.form .form-element-field:focus ~ .form-element-label {
  color: #000;
}
.form .form-element-field.-hasvalue,
.form .form-element-field:focus {
  opacity: 1;
}
.form .form-element-field.-hasvalue ~ .form-element-label,
.form .form-element-field:focus ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}
.form input.form-element-field:not(:-moz-placeholder-shown), .form textarea.form-element-field:not(:-moz-placeholder-shown) {
  opacity: 1;
}
.form input.form-element-field:not(:placeholder-shown),
.form textarea.form-element-field:not(:placeholder-shown) {
  opacity: 1;
}
.form select.form-element-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.form .form-select-placeholder {
  color: #a6a6a6;
  display: none;
}
.form .form-select .form-element-bar::before {
  content: "";
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-bottom: 1px solid #a4a4a4;
  border-right: 1px solid #a4a4a4;
  display: block;
  right: 0.5em;
  bottom: 0;
  transition: transform 0.28s ease;
  transform: translateY(-100%) rotateX(0deg) rotate(45deg);
  will-change: transform;
}
.form .form-select select:focus ~ .form-element-bar::before {
  transform: translateY(-50%) rotateX(180deg) rotate(45deg);
}
.form .form-element-field[type=number]::-webkit-outer-spin-button,
.form .form-element-field[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main_section_what_we_do_page {
  margin-top: 210px;
}
@media only screen and (max-width: 991px) {
  .main_section_what_we_do_page {
    margin-top: 145px;
  }
}
.main_section_what_we_do_page .padding_helper {
  padding: 0 72px;
}
.main_section_what_we_do_page_holder {
  width: 100%;
}
.main_section_what_we_do_page_holder_title {
  font-size: 52px;
  font-weight: 800;
  height: 136px;
  margin-bottom: 113px;
}
@media only screen and (max-width: 1400px) {
  .main_section_what_we_do_page_holder_title {
    font-size: 44px;
  }
}
@media only screen and (max-width: 991px) {
  .main_section_what_we_do_page_holder_title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1921px) {
  .main_section_what_we_do_page_holder_title {
    width: 70%;
  }
}
.main_section_what_we_do_page_holder_description {
  font-size: 16px;
  margin-top: 13px;
}
.main_section_piss_img_holder img,
.main_section_ipm_img_holder img,
.main_section_pei_img_holder img,
.main_section_qc_img_holder img,
.main_section_ps_img_holder img,
.main_section_mc_img_holder img,
.main_section_is_img_holder img,
.main_section_cs_img_holder img,
.main_section_smp_img_holder img,
.main_section_ihsa_img_holder img,
.main_section_cnc_img_holder img,
.main_section_pe_img_holder img,
.main_section_fcis_img_holder img {
  width: 100%;
}

.tegum_services_page {
  position: relative;
}
.tegum_services_page .margin_helper {
  margin-top: 152px;
}
.tegum_services_page .border_helper {
  border-left: 2px solid #0011ff;
}
.tegum_services_page_small_title {
  position: absolute;
  top: 66px;
  left: 72px;
  font-size: 16px;
}
@media only screen and (max-width: 1200px) {
  .tegum_services_page_small_title {
    font-size: 14px;
  }
}
.tegum_services_page_title {
  margin-top: 152px;
  font-size: 22px;
  font-weight: 600;
}
@media only screen and (max-width: 1400px) {
  .tegum_services_page_title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_title {
    font-size: 14px;
  }
}
.tegum_services_page_holder {
  margin-top: 132px;
}
.tegum_services_page_holder:first-child {
  margin-top: 0;
}
.tegum_services_page_holder:last-child {
  margin-bottom: 400px;
}
.tegum_services_page_holder_title {
  font-size: 22px;
  margin-bottom: 34px;
}
@media only screen and (max-width: 1400px) {
  .tegum_services_page_holder_title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_holder_title {
    font-size: 14px;
  }
}
.tegum_services_page_holder_description {
  font-size: 16px;
  font-weight: 400;
}
.tegum_services_page_holder_description_2_1 {
  margin-top: 30px;
}
.tegum_services_page_holder_options {
  margin-top: 44px;
  padding-left: 56px;
}
.tegum_services_page_holder_options_title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
.tegum_services_page_holder_options_description {
  font-weight: 400;
  font-size: 16px;
}

.get_started_page {
  position: relative;
  padding: 114px 0;
  background-color: #a3f34a;
}
.get_started_page_small_title {
  position: absolute;
  top: 57px;
  left: 72px;
  font-size: 16px;
}
@media only screen and (max-width: 1200px) {
  .get_started_page_small_title {
    font-size: 14px;
  }
}
.get_started_page_title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 28px;
}
.get_started_page a {
  all: unset;
}
.get_started_page_btn {
  all: unset;
  width: 150px;
  height: 42px;
  text-align: center;
  background: #000000;
  border: 2px solid #000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.main_section_about_us {
  margin-top: 225px;
}
@media only screen and (max-width: 991px) {
  .main_section_about_us {
    margin-top: 145px;
  }
}
.main_section_about_us .padding_helper {
  padding: 0 72px;
}
.main_section_about_us_holder {
  width: 100%;
  margin-bottom: 113px;
}
.main_section_about_us_holder_title {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1400px) {
  .main_section_about_us_holder_title {
    font-size: 44px;
  }
}
@media only screen and (max-width: 991px) {
  .main_section_about_us_holder_title {
    font-size: 30px;
  }
}
.main_section_about_us_img {
  width: 100%;
}

.history {
  margin-top: 100px;
}
.history_subtitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 162px;
}
@media only screen and (max-width: 1400px) {
  .history_subtitle {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .history_subtitle {
    font-size: 14px;
  }
}
.history_title {
  font-size: 52px;
  font-weight: 600;
}
@media only screen and (max-width: 1400px) {
  .history_title {
    font-size: 44px;
  }
}
@media only screen and (max-width: 991px) {
  .history_title {
    font-size: 30px;
  }
}
.history_description {
  font-size: 16px;
  font-weight: 400;
}
.history_description_1 {
  margin-bottom: 36px;
}

body,
html {
  font-family: "Inter", sans-serif;
  color: #000;
}

.container_helper {
  padding-left: 72px;
  padding-right: 72px;
}
@media only screen and (max-width: 991px) {
  .container_helper {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.notification {
  display: none;
  position: absolute;
  top: -70px;
  left: 0;
}
.notification.active {
  display: block;
}

.notifyjs-bootstrap-success {
  color: #000 !important;
}

.only_desktop {
  display: block;
}
@media only screen and (max-width: 991px) {
  .only_desktop {
    display: none;
  }
}

.only_mobile {
  display: none;
}
@media only screen and (max-width: 991px) {
  .only_mobile {
    display: block;
  }
}

.main_section {
  margin-top: 225px;
}
@media only screen and (max-width: 991px) {
  .main_section {
    margin-top: 145px;
  }
}
.main_section_holder {
  margin-bottom: 156px;
}
@media only screen and (max-width: 991px) {
  .main_section_holder {
    margin-bottom: 80px;
  }
}
.main_section_holder_title {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
  width: 100%;
}
@media only screen and (max-width: 1400px) {
  .main_section_holder_title {
    font-size: 44px;
  }
}
@media only screen and (max-width: 991px) {
  .main_section_holder_title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1921px) {
  .main_section_holder_title {
    width: 70%;
  }
}
.main_section_holder_description {
  font-size: 22px;
  width: 85%;
}
@media only screen and (max-width: 1400px) {
  .main_section_holder_description {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .main_section_holder_description {
    font-size: 14px;
  }
}
.main_section_img {
  width: 100%;
}

.about_us {
  margin-bottom: 200px;
  position: relative;
}
.about_us .sticky-parent {
  height: 313px;
}
@media only screen and (max-width: 1400px) {
  .about_us .sticky-parent {
    height: 337px;
  }
}
.about_us .width_helper {
  margin-left: 8.33%;
  padding-left: 72px;
}
@media only screen and (max-width: 991px) {
  .about_us .width_helper {
    margin-left: 12px;
    padding-left: 0;
  }
}
.about_us .sticky {
  position: sticky;
  top: 0px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.about_us .dim {
  display: block;
  width: 750px;
}
@media only screen and (max-width: 576px) {
  .about_us .dim {
    min-width: 300px;
  }
}
.about_us .horizontal {
  display: flex;
  padding-top: 200px;
}
@media only screen and (max-width: 991px) {
  .about_us .horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
.about_us .horizontal::-webkit-scrollbar {
  display: none;
}
.about_us_title {
  position: absolute;
  top: 50px;
  left: 72px;
  font-size: 16px;
}
@media only screen and (max-width: 1200px) {
  .about_us_title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .about_us_title {
    left: 12px;
  }
}
.about_us .flex_columns {
  position: relative;
  padding-left: 0;
  width: 575px;
  margin-right: 175px;
}
@media only screen and (max-width: 576px) {
  .about_us .flex_columns {
    width: 300px;
  }
}
.about_us .flex_columns_plus {
  position: absolute !important;
  top: 12px;
  display: inline-block;
  cursor: pointer;
  height: 7px;
  position: relative;
  width: 20px;
}
@media only screen and (max-width: 991px) {
  .about_us .flex_columns_plus {
    top: 9px;
  }
}
.about_us .flex_columns_plus:before, .about_us .flex_columns_plus:after {
  background: #000;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  transition: transform 300ms ease;
}
@media only screen and (max-width: 991px) {
  .about_us .flex_columns_plus:before, .about_us .flex_columns_plus:after {
    width: 14px;
  }
}
.about_us .flex_columns_plus:after {
  transform-origin: center;
}
.about_us .flex_columns_plus.collapsed:after {
  transform: rotate(90deg);
}
.about_us .flex_columns_plus.collapsed:before {
  transform: rotate(180deg);
}
.about_us .flex_columns_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
  padding-left: 40px;
}
@media only screen and (max-width: 991px) {
  .about_us .flex_columns_title {
    font-size: 14px;
    padding-left: 30px;
  }
}
.about_us .flex_columns_description {
  font-size: 16px;
  padding-left: 40px;
}
@media only screen and (max-width: 991px) {
  .about_us .flex_columns_description {
    font-size: 12px;
    padding-left: 30px;
  }
}
.about_us .card_scroller::-webkit-scrollbar {
  width: 0 !important;
}
.about_us .card_scroller::-ms-scrollbar {
  width: 0 !important;
}

.spacer {
  height: 10px;
  background: #fff;
}

.what_we_do {
  background: #a3f34a;
  padding: 150px 0 0;
  position: relative;
}
@media only screen and (max-width: 1440px) {
  .what_we_do {
    padding-top: 100px;
  }
}
.what_we_do_small_title {
  position: absolute;
  top: 69px;
  left: 72px;
  font-size: 16px;
}
@media only screen and (max-width: 1200px) {
  .what_we_do_small_title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .what_we_do_small_title {
    left: 12px;
  }
}
.what_we_do .wrapper .acc_container #pin1 {
  height: 100vh;
}
.what_we_do .wrapper .acc_container #pin2,
.what_we_do .wrapper .acc_container #pin3 {
  height: 100vh;
}
.what_we_do .wrapper .acc_container .item {
  padding-right: 72px;
  margin-left: 72px;
  overflow: hidden; /* Hide content that overflows the fixed height */
}
@media only screen and (max-width: 991px) {
  .what_we_do .wrapper .acc_container .item {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.what_we_do .wrapper .acc_container .item .container-fluid {
  height: auto;
  background-color: #fff;
}
.what_we_do .wrapper .acc_container .item .container-fluid::-webkit-scrollbar {
  width: 0; /* Hide scrollbar for WebKit browsers */
}
.what_we_do .wrapper .acc_container .item .services_small_title {
  position: absolute;
  top: 69px;
  left: 66px;
  font-size: 16px;
}
@media only screen and (max-width: 1440px) {
  .what_we_do .wrapper .acc_container .item .services_small_title {
    top: 39px;
    left: 46px;
  }
}
@media only screen and (max-width: 1200px) {
  .what_we_do .wrapper .acc_container .item .services_small_title {
    font-size: 14px;
  }
}
.what_we_do .wrapper .acc_container .item .padding_helper {
  padding: 130px 0 130px 130px;
  position: relative;
}
@media only screen and (max-width: 1440px) {
  .what_we_do .wrapper .acc_container .item .padding_helper {
    padding: 80px 0 80px 80px;
  }
}
.what_we_do .wrapper .acc_container .item .option_holder {
  margin-bottom: 50px;
}
@media only screen and (max-width: 1400px) {
  .what_we_do .wrapper .acc_container .item .option_holder {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .what_we_do .wrapper .acc_container .item .option_holder {
    margin-bottom: 34px;
  }
}
.what_we_do .wrapper .acc_container .item .option_holder:last-child {
  margin-bottom: 0;
}
.what_we_do .wrapper .acc_container .item .option_holder a {
  cursor: none;
}
.what_we_do .wrapper .acc_container .item .option_holder_number {
  color: #a4a4a4;
  display: inline-block;
  margin-right: 30px;
  font-size: 28px;
  font-weight: 400;
}
@media only screen and (max-width: 1440px) {
  .what_we_do .wrapper .acc_container .item .option_holder_number {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1400px) {
  .what_we_do .wrapper .acc_container .item .option_holder_number {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .what_we_do .wrapper .acc_container .item .option_holder_number {
    font-size: 18px;
    margin-right: 14px;
  }
}
.what_we_do .wrapper .acc_container .item .option_holder_title {
  display: inline-block;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
@media only screen and (max-width: 1440px) {
  .what_we_do .wrapper .acc_container .item .option_holder_title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1400px) {
  .what_we_do .wrapper .acc_container .item .option_holder_title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .what_we_do .wrapper .acc_container .item .option_holder_title {
    font-size: 18px;
  }
}
.what_we_do .wrapper .acc_container .item .option_holder_title:hover {
  color: #0011ff;
  text-decoration: underline;
}
.what_we_do .wrapper .acc_container .item .position_helper {
  position: relative;
}
.what_we_do .wrapper .acc_container .item img {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.what_we_do .wrapper .acc_container .item_img_1_1 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_1_2 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_1_3 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_1_4 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_2_1 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_2_2 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_2_3 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_2_4 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_3_1 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_3_2 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_3_3 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_3_4 {
  display: none;
}
.what_we_do .wrapper .acc_container .item_img_3_5 {
  display: none;
}
.what_we_do .wrapper .acc_container .head_holder {
  background-color: #a3f34a;
  padding: 50px 0;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .what_we_do .wrapper .acc_container .head_holder {
    padding: 3vh 0;
  }
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_title {
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  min-width: 540px;
  margin-right: 190px;
}
@media only screen and (max-width: 1660px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_title {
    margin-right: 113px;
  }
}
@media only screen and (max-width: 1440px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_title {
    font-size: 38px;
    margin-right: 83px;
    min-width: 510px;
  }
}
@media only screen and (max-width: 1400px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_title {
    font-size: 30px;
    min-width: 420px;
  }
}
@media only screen and (max-width: 1200px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_title {
    font-size: 24px;
    margin-right: 23px;
  }
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_description {
  display: inline-block;
  width: 37vw;
  vertical-align: top;
  margin-top: 11px;
}
@media only screen and (max-width: 1660px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_description {
    width: 33vw;
  }
}
@media only screen and (max-width: 1440px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_description {
    width: 35vw;
  }
}
@media only screen and (max-width: 1400px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_description {
    font-size: 14px;
  }
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn {
  position: absolute;
  right: 0;
  top: 71px;
}
@media only screen and (max-width: 1440px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_btn {
    top: 51px;
  }
}
@media only screen and (max-width: 1200px) {
  .what_we_do .wrapper .acc_container .head_holder .what_we_do_btn {
    top: 35px;
  }
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 42px;
  background: none;
  border: none;
  color: #0011ff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn span {
  display: block;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn:hover {
  background: #0011ff;
  color: #fff;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_1,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_2,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_3 {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 42px;
  border: none;
  color: #0011ff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  position: absolute;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_1 span,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_2 span,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_3 span {
  display: block;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_1::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_1::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_2::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_2::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_3::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_3::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #0011ff;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #0011ff;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn span::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn span::after {
  content: "";
  width: 2px;
  height: 40px;
  position: absolute;
  transition: all 0.2s linear;
  background: #0011ff;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn:hover::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn:hover::after {
  width: 100%;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_1.hovered_btn_1::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_1.hovered_btn_1::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_2.hovered_btn_2::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_2.hovered_btn_2::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_3.hovered_btn_3::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_3.hovered_btn_3::after {
  width: 150px;
  right: 0;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn:hover span::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn:hover span::after {
  height: 100%;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_1::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_2::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_3::before {
  left: -9px;
  top: 0;
  transition-duration: 0.4s;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_1::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_2::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_3::after {
  left: -9px;
  bottom: 0;
  transition-duration: 0.4s;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_btn_1::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_btn_2::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_btn_3::before {
  right: -9px;
  top: 0;
  transition-duration: 0.4s;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_btn_1::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_btn_2::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .additional_btn_3::after {
  right: -9px;
  bottom: 0;
  transition-duration: 0.4s;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_1 span::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_2 span::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_3 span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_1 span::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_2 span::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_3 span::after {
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_1:hover::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_1:hover::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_2:hover::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_2:hover::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_3:hover::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_3:hover::after {
  left: 0;
}
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_1:hover span::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_1:hover span::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_2:hover span::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_2:hover span::after,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_3:hover span::before,
.what_we_do .wrapper .acc_container .head_holder .what_we_do_btn .btn_3:hover span::after {
  top: 0;
}

.testimonials {
  padding: 290px 0 300px;
}
@media only screen and (max-width: 991px) {
  .testimonials {
    padding: 120px 0 100px;
  }
}
.testimonials_holder {
  width: 35%;
  margin: auto;
}
@media only screen and (max-width: 1440px) {
  .testimonials_holder {
    width: 47%;
  }
}
@media only screen and (max-width: 991px) {
  .testimonials_holder {
    width: 100%;
    padding-left: 12px;
  }
}
.testimonials_holder_img {
  display: inline-block;
  margin-right: 55px;
  width: 55px;
  vertical-align: top;
  margin-top: 9px;
}
.testimonials_holder_text {
  display: inline-block;
  font-size: 18px;
  width: 70%;
}
@media only screen and (max-width: 1400px) {
  .testimonials_holder_text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonials_holder_text {
    font-size: 14px;
  }
}
.testimonials_holder_text_description {
  margin-bottom: 20px;
}

.expertise {
  background-color: #f3f3f3;
}
.expertise_holder {
  margin-left: 72px;
  margin-right: 72px;
  padding: 56px 0;
  position: relative;
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 1440px) {
  .expertise_holder {
    padding: 46px 0;
  }
}
@media only screen and (max-width: 991px) {
  .expertise_holder {
    margin-left: 12px;
    margin-right: 12px;
    padding: 46px 0 76px;
  }
}
.expertise_holder:first-child {
  padding: 90px 0;
}
@media only screen and (max-width: 1440px) {
  .expertise_holder:first-child {
    padding: 80px 0;
  }
}
.expertise_holder:last-child {
  border-bottom: unset;
}
.expertise_holder_number {
  position: absolute;
  top: 20px;
  left: 0;
  color: #a4a4a4;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (max-width: 1440px) {
  .expertise_holder_number {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .expertise_holder_number {
    font-size: 14px;
  }
}
.expertise_holder_number_main {
  top: 70px;
  width: 14%;
}
@media only screen and (max-width: 1440px) {
  .expertise_holder_number_main {
    width: 17%;
  }
}
@media only screen and (max-width: 1400px) {
  .expertise_holder_number_main {
    width: 27%;
  }
}
@media only screen and (max-width: 991px) {
  .expertise_holder_number_main {
    width: 57%;
  }
}
.expertise_holder_title {
  font-size: 30px;
  color: #0011ff;
  display: inline-block;
  margin-left: 17%;
  font-weight: 600;
}
@media only screen and (max-width: 1440px) {
  .expertise_holder_title {
    font-size: 27px;
    margin-left: 13%;
  }
}
@media only screen and (max-width: 1400px) {
  .expertise_holder_title {
    font-size: 24px;
    margin-left: 9%;
  }
}
@media only screen and (max-width: 1200px) {
  .expertise_holder_title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .expertise_holder_title {
    width: 100%;
    margin: auto;
  }
}
.expertise_holder_description {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  width: 30vw;
  float: right;
  margin-right: 90px;
}
@media only screen and (max-width: 1440px) {
  .expertise_holder_description {
    font-size: 14px;
    margin-right: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .expertise_holder_description {
    margin-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .expertise_holder_description {
    width: 100%;
    margin: auto;
  }
}
.expertise_holder_description_main {
  margin-top: -20px;
}
@media only screen and (max-width: 1440px) {
  .expertise_holder_description_main {
    margin-top: -10px;
  }
}
@media only screen and (max-width: 991px) {
  .expertise_holder_description_main {
    width: unset;
  }
}

.challenges {
  padding: 270px 0;
}
@media only screen and (max-width: 991px) {
  .challenges {
    padding: 130px 0;
  }
}
.challenges .holder {
  width: 90%;
  margin-top: 30%;
}
@media only screen and (max-width: 1440px) {
  .challenges .holder {
    width: 100%;
    margin-top: 24%;
  }
}
@media only screen and (max-width: 1400px) {
  .challenges .holder {
    margin-top: 19%;
  }
}
.challenges .holder a {
  all: unset;
}
.challenges_img {
  width: 100%;
}
.challenges_title {
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1400px) {
  .challenges_title {
    font-size: 38px;
  }
}
@media only screen and (max-width: 991px) {
  .challenges_title {
    font-size: 24px;
  }
}
.challenges_btn {
  all: unset;
  width: 150px;
  height: 42px;
  text-align: center;
  background: #a3f34a 0% 0% no-repeat padding-box;
  border: 1px solid #a3f34a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  padding: 80px 0;
  color: #a4a4a4;
  background-color: #000;
  position: relative;
}
.footer a {
  all: unset;
}
.footer_list .sr {
  all: unset;
  display: none;
  font-size: 16px;
  margin-right: 60px;
  cursor: pointer;
}
.footer_list .sr.active {
  display: inline-block;
}
.footer_list .en {
  all: unset;
  display: none;
  font-size: 16px;
  margin-right: 60px;
  cursor: pointer;
}
.footer_list .en.active {
  display: inline-block;
}
.footer_list ul {
  list-style: none;
  display: inline-block;
  padding-left: 0;
}
.footer_list ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-right: 85px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .footer_list ul li {
    margin-right: 45px;
  }
}
.footer_list ul li a {
  all: unset;
}
.footer_contact {
  font-size: 14px;
  font-weight: 400;
  margin-top: 76px;
  margin-bottom: 150px;
}
.footer_btn {
  all: unset;
  width: 150px;
  height: 42px;
  text-align: center;
  background: #a3f34a 0% 0% no-repeat padding-box;
  border: 1px solid #a3f34a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  position: absolute;
  top: 78px;
  right: 72px;
}/*# sourceMappingURL=main.css.map */