.only_desktop_navigation .plus-minus-toggle {
  display: inline-block;
  cursor: pointer;
  height: 7px;
  position: relative;
  width: 20px;
}
.only_desktop_navigation .plus-minus-toggle:before, .only_desktop_navigation .plus-minus-toggle:after {
  background: #000;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
  transition: transform 300ms ease;
}
.only_desktop_navigation .plus-minus-toggle:after {
  transform-origin: center;
}
.only_desktop_navigation .plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.only_desktop_navigation .plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}
@media only screen and (max-width: 1400px) {
  .only_desktop_navigation .col_margin_helper {
    margin-left: 100px;
  }
}
.only_desktop_navigation .main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: 0.25s ease-out;
  z-index: 100000;
  font-size: 16px;
}
.only_desktop_navigation .main-navigation .nav_logo {
  position: absolute;
  top: 40px;
  left: 72px;
}
@media only screen and (max-width: 1400px) {
  .only_desktop_navigation .main-navigation .nav_logo {
    top: 32px;
  }
}
.only_desktop_navigation .main-navigation a.active,
.only_desktop_navigation .main-navigation .sub_nav.active {
  font-weight: 600;
  color: #fff;
  opacity: 0.9;
}
.only_desktop_navigation .main-navigation .opened {
  background: #fff;
}
.only_desktop_navigation .main-navigation .language_holder {
  display: inline-block;
  float: right;
  position: absolute;
  right: 72px;
  top: 35px;
}
@media only screen and (max-width: 1400px) {
  .only_desktop_navigation .main-navigation .language_holder {
    top: 32px;
  }
}
.only_desktop_navigation .main-navigation .language_holder a {
  all: unset;
}
.only_desktop_navigation .main-navigation .language_holder .inquire_btn {
  all: unset;
  width: 150px;
  height: 42px;
  text-align: center;
  background: #a3f34a 0% 0% no-repeat padding-box;
  border: 1px solid #a3f34a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.only_desktop_navigation .main-navigation .language_holder .sr {
  all: unset;
  display: none;
  font-size: 16px;
  margin-right: 60px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .only_desktop_navigation .main-navigation .language_holder .sr {
    margin-right: 35px;
  }
}
.only_desktop_navigation .main-navigation .language_holder .sr.active {
  display: inline-block;
}
.only_desktop_navigation .main-navigation .language_holder .en {
  all: unset;
  display: none;
  font-size: 16px;
  margin-right: 60px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .only_desktop_navigation .main-navigation .language_holder .en {
    margin-right: 35px;
  }
}
.only_desktop_navigation .main-navigation .language_holder .en.active {
  display: inline-block;
}
.only_desktop_navigation .main-navigation .main-navigation-list.dropdown-menu {
  padding: unset;
}
.only_desktop_navigation .main-navigation-list {
  background-color: white;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
  padding-left: 16.6666%;
}
@media only screen and (max-width: 1200px) {
  .only_desktop_navigation .main-navigation-list {
    padding-left: 20.666%;
  }
}
.only_desktop_navigation .main-navigation-list li {
  display: inline-block;
}
.only_desktop_navigation .main-navigation-list li a {
  display: block;
  color: #000;
  padding: 48px 35px;
  text-decoration: none;
}
@media only screen and (max-width: 1400px) {
  .only_desktop_navigation .main-navigation-list li a {
    padding: 41px 35px;
  }
}
@media only screen and (max-width: 1200px) {
  .only_desktop_navigation .main-navigation-list li a {
    padding: 40px 20px;
  }
}
.only_desktop_navigation .main-navigation-list.dropdown-menu .only_desktop_navigation .main-navigation-list.dropdown-menu {
  left: 100%;
  top: 0;
}
.only_desktop_navigation .main-navigation-list-dropdown.dropdown-menu {
  display: none;
  position: fixed;
  min-width: 120px;
  height: 550px;
  background-color: #000;
  width: 100%;
  left: 0;
  border: none;
  border-radius: 0;
}
.only_desktop_navigation .main-navigation-list-dropdown.dropdown-menu img {
  height: 500px;
}
.only_desktop_navigation .main-navigation-list-dropdown.dropdown-menu li {
  display: block !important;
  white-space: nowrap;
}
.only_desktop_navigation .main-navigation-list-dropdown li {
  display: inline-block;
}
.only_desktop_navigation .main-navigation-list-dropdown li.dropdown {
  position: relative;
}
.only_desktop_navigation .main-navigation-list-dropdown li .sub_nav_title {
  padding-left: 25px;
  margin-top: 67px;
  margin-bottom: 31px;
  color: #fff;
  opacity: 0.4;
  font-weight: 300;
}
@media only screen and (max-width: 1400px) {
  .only_desktop_navigation .main-navigation-list-dropdown li .sub_nav_title {
    padding-left: 23px;
  }
}
@media only screen and (max-width: 1200px) {
  .only_desktop_navigation .main-navigation-list-dropdown li .sub_nav_title {
    padding-left: 59px;
  }
}
.only_desktop_navigation .main-navigation-list-dropdown li .sub_nav {
  display: block;
  color: #a4a4a4;
  margin-bottom: 31px;
  padding: unset;
  padding-left: 25px;
  text-decoration: none;
}
@media only screen and (max-width: 1400px) {
  .only_desktop_navigation .main-navigation-list-dropdown li .sub_nav {
    padding-left: 23px;
  }
}
@media only screen and (max-width: 1200px) {
  .only_desktop_navigation .main-navigation-list-dropdown li .sub_nav {
    padding-left: 59px;
  }
}
.only_desktop_navigation .main-navigation.nav-up {
  top: -132px;
}

.only_mobile_navigation .nav_logo_mobile {
  position: absolute;
  top: 11px;
  left: 18px;
  width: 100px;
}
.only_mobile_navigation .nav_logo_mobile_dropdown {
  position: absolute;
  top: 11px;
  left: 18px;
  width: 100px;
}
.only_mobile_navigation .menu-items {
  position: fixed;
  overflow: scroll;
  padding: 184px 0 150px 44px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  opacity: 0;
  font-size: 14px;
  letter-spacing: 0.7;
  font-weight: 300;
  background-color: #000;
  transform: translateX(100%);
  transition: transform 200ms ease-in-out, opacity 100ms;
  z-index: 999;
  height: 100%;
}
.only_mobile_navigation .menu-items::-webkit-scrollbar {
  display: none;
}
.only_mobile_navigation .menu-items .language_holder {
  display: inline-block;
  float: right;
  position: absolute;
  right: 72px;
  top: 35px;
}
@media only screen and (max-width: 1400px) {
  .only_mobile_navigation .menu-items .language_holder {
    top: 32px;
  }
}
@media only screen and (max-width: 991px) {
  .only_mobile_navigation .menu-items .language_holder {
    top: 15px;
    right: 42px;
  }
}
.only_mobile_navigation .menu-items .language_holder a {
  all: unset;
}
.only_mobile_navigation .menu-items .language_holder .sr {
  all: unset;
  display: none;
  font-size: 14px;
  margin-right: 60px;
  color: #ffffff;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .only_mobile_navigation .menu-items .language_holder .sr {
    margin-right: 31px;
  }
}
.only_mobile_navigation .menu-items .language_holder .sr.active {
  display: inline-block;
}
.only_mobile_navigation .menu-items .language_holder .en {
  all: unset;
  display: none;
  font-size: 14px;
  margin-right: 60px;
  color: #ffffff;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .only_mobile_navigation .menu-items .language_holder .en {
    margin-right: 31px;
  }
}
.only_mobile_navigation .menu-items .language_holder .en.active {
  display: inline-block;
}
.only_mobile_navigation .menu-items .plus-minus-toggle {
  display: inline-block;
  cursor: pointer;
  height: 6px;
  position: relative;
  width: 20px;
  margin-left: 4px;
}
.only_mobile_navigation .menu-items .plus-minus-toggle:before, .only_mobile_navigation .menu-items .plus-minus-toggle:after {
  background: #f3f3f3;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
  transition: transform 300ms ease;
}
.only_mobile_navigation .menu-items .plus-minus-toggle:after {
  transform-origin: center;
}
.only_mobile_navigation .menu-items .plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.only_mobile_navigation .menu-items .plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}
.only_mobile_navigation .menu-items li {
  color: #f3f3f3;
  padding-bottom: 34px;
}
.only_mobile_navigation .menu-items li a {
  color: #f3f3f3;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list {
  background-color: white;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
  padding: 0;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list .sub_nav_title_mobile {
  margin-bottom: 31px;
  color: #fff;
  opacity: 0.4;
  font-weight: 300;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list .sub_nav_title_mobile:first-child {
  margin-top: 30px;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list.dropdown-menu .only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list.dropdown-menu {
  left: 100%;
  top: 0;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list.dropdown-menu {
  display: none;
  position: relative;
  min-width: 120px;
  margin-top: 30px;
  margin-left: 30px;
  height: auto;
  background-color: #000;
  width: 90%;
  left: 0;
  border: none;
  border-radius: 0;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list.dropdown-menu li {
  display: block !important;
  width: 72%;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list li {
  display: inline-block;
  padding: 0;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list li.dropdown {
  position: relative;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list li .sub_nav_mobile {
  display: block;
  color: #a4a4a4;
  margin-bottom: 30px;
  font-size: 14px;
  text-decoration: none;
}
.only_mobile_navigation .menu-items .dropdown_mobile_main-navigation-list li .sub_nav_mobile.active {
  font-weight: 600;
  color: #f3f3f3;
  opacity: 0.9;
}
.only_mobile_navigation .check {
  position: fixed;
  right: 34px;
  top: 35px;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  z-index: 999;
}
@media only screen and (max-width: 991px) {
  .only_mobile_navigation .check {
    top: 10px;
    right: 10px;
    height: 2rem;
  }
}
.only_mobile_navigation .check:hover {
  cursor: pointer;
}
.only_mobile_navigation .check:checked {
  z-index: 999999;
}
.only_mobile_navigation .check:checked ~ .menu-items {
  transform: translateX(0%);
  opacity: 1;
}
.only_mobile_navigation .check:checked ~ .ham-menu .line {
  background-color: #fff;
}
.only_mobile_navigation .check:checked ~ .language_mobile {
  z-index: 0;
}
.only_mobile_navigation .ham-menu {
  height: 50px;
  width: 56px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 16px 0;
  background-color: #fff;
  border-radius: 0;
  z-index: 99;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}
.only_mobile_navigation .ham-menu .line {
  background-color: black;
  width: 19px;
  height: 2px;
}
.only_mobile_navigation .ham-menu .line1 {
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
  margin: 0 auto;
}
.only_mobile_navigation .ham-menu .line3 {
  transform-origin: 0% 100%;
  transition: transform 100ms ease-in-out;
  margin: 0 auto;
}
.only_mobile_navigation .check:checked ~ .ham-menu {
  height: 57px;
  top: -4px;
  right: -4px;
  background-color: #000;
  z-index: 9999;
}
.only_mobile_navigation .check:checked ~ .ham-menu .line1 {
  display: block;
  transform: rotate(45deg);
}
.only_mobile_navigation .check:checked ~ .ham-menu .line3 {
  display: block;
  transform: rotate(-45deg);
}/*# sourceMappingURL=navigation.css.map */