//what we do pages

.main_section_what_we_do_page {
    margin-top: 210px;

    @media only screen and (max-width: 991px) {
        margin-top: 145px;
    }
    .padding_helper {
        padding: 0 72px;
    }

    &_holder {
        width: 100%;

        &_title {
            font-size: 52px;
            font-weight: 800;
            height: 136px;
            margin-bottom: 113px;

            @media only screen and (max-width: 1400px) {
                font-size: 44px;
            }

            @media only screen and (max-width: 991px) {
                font-size: 30px;
                height: auto;
                margin-bottom: 0;
            }

            @media only screen and (min-width: 1921px) {
                width: 70%;
            }

            &_helper {
                @media only screen and (min-width: 1921px) {
                    width: 89%;
                }
            }
        }

        &_description {
            font-size: 16px;
            margin-top: 13px;

            @media only screen and (max-width: 1400px) {
                // font-size: 18px;
            }
            @media only screen and (max-width: 991px) {
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }
}

//specific image holder

.main_section_piss_img_holder,
.main_section_ipm_img_holder,
.main_section_pei_img_holder,
.main_section_qc_img_holder,
.main_section_ps_img_holder,
.main_section_mc_img_holder,
.main_section_is_img_holder,
.main_section_cs_img_holder,
.main_section_smp_img_holder,
.main_section_ihsa_img_holder,
.main_section_cnc_img_holder,
.main_section_pe_img_holder,
.main_section_fcis_img_holder {
    img {
        width: 100%;
    }
}

.tegum_services_page {
    position: relative;

    .margin_helper {
        margin-top: 152px;

        @media only screen and (max-width: 991px) {
            margin-top: 32px;
        }
    }

    .border_helper {
        border-left: 2px solid #0011ff;
    }
    &_small_title {
        position: absolute;
        top: 66px;
        left: 72px;
        font-size: 16px;

        @media only screen and (max-width: 1200px) {
            font-size: 14px;
        }

        @media only screen and (max-width: 991px) {
            top: 26px;
            left: 17px;
        }
    }

    &_title {
        margin-top: 152px;
        font-size: 22px;
        font-weight: 600;

        @media only screen and (max-width: 1400px) {
            font-size: 18px;
        }

        @media only screen and (max-width: 991px) {
            font-size: 16px;
            margin-top: 82px;
        }
    }

    &_holder {
        margin-top: 132px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 400px;

            @media only screen and (max-width: 991px) {
                margin-top: 42px;
                margin-bottom: 80px;
            }
        }

        &_title {
            font-size: 22px;

            margin-bottom: 34px;

            @media only screen and (max-width: 1400px) {
                font-size: 18px;
            }

            @media only screen and (max-width: 991px) {
                font-size: 16px;
            }
        }

        &_description {
            font-size: 16px;
            font-weight: 400;

            @media only screen and (max-width: 991px) {
                font-size: 14px;
            }
        }

        &_description_2_1 {
            margin-top: 30px;
        }

        &_options {
            margin-top: 44px;
            padding-left: 56px;

            @media only screen and (max-width: 991px) {
                padding-left: 26px;
            }

            &_title {
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 600;

                @media only screen and (max-width: 991px) {
                    font-size: 14px;
                }
            }

            &_description {
                font-weight: 400;
                font-size: 16px;

                @media only screen and (max-width: 991px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.get_started_page {
    position: relative;
    padding: 114px 0;
    background-color: #a3f34a;

    @media only screen and (max-width: 991px) {
        padding: 80px 0;
    }
    &_small_title {
        position: absolute;
        top: 57px;
        left: 72px;
        font-size: 16px;

        @media only screen and (max-width: 1200px) {
            font-size: 14px;
        }

        @media only screen and (max-width: 991px) {
            top: 26px;
            left: 17px;
        }
    }

    &_title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 28px;

        @media only screen and (max-width: 991px) {
            font-size: 19px;
        }
    }

    a {
        all: unset;
    }

    &_btn {
        all: unset;
        width: 150px;
        height: 42px;
        text-align: center;
        background: #000000;
        border: 1px solid #000;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        @media only screen and (max-width: 991px) {
            font-size: 14px;
        }
    }
}
