.main_section_what_we_do_page {
  margin-top: 210px;
}
@media only screen and (max-width: 991px) {
  .main_section_what_we_do_page {
    margin-top: 145px;
  }
}
.main_section_what_we_do_page .padding_helper {
  padding: 0 72px;
}
.main_section_what_we_do_page_holder {
  width: 100%;
}
.main_section_what_we_do_page_holder_title {
  font-size: 52px;
  font-weight: 800;
  height: 136px;
  margin-bottom: 113px;
}
@media only screen and (max-width: 1400px) {
  .main_section_what_we_do_page_holder_title {
    font-size: 44px;
  }
}
@media only screen and (max-width: 991px) {
  .main_section_what_we_do_page_holder_title {
    font-size: 30px;
    height: auto;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1921px) {
  .main_section_what_we_do_page_holder_title {
    width: 70%;
  }
}
@media only screen and (min-width: 1921px) {
  .main_section_what_we_do_page_holder_title_helper {
    width: 89%;
  }
}
.main_section_what_we_do_page_holder_description {
  font-size: 16px;
  margin-top: 13px;
}
@media only screen and (max-width: 991px) {
  .main_section_what_we_do_page_holder_description {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
.main_section_what_we_do_page a {
  text-decoration: none;
  text-align: center;
}
.main_section_what_we_do_page .hire_us_page_btn {
  all: unset;
  width: 150px;
  height: 42px;
  text-align: center;
  background: #000000;
  border: 1px solid #000;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 48px;
}

.main_section_piss_img_holder img,
.main_section_ipm_img_holder img,
.main_section_pei_img_holder img,
.main_section_qc_img_holder img,
.main_section_ps_img_holder img,
.main_section_mc_img_holder img,
.main_section_is_img_holder img,
.main_section_cs_img_holder img,
.main_section_smp_img_holder img,
.main_section_ihsa_img_holder img,
.main_section_cnc_img_holder img,
.main_section_pe_img_holder img,
.main_section_fcis_img_holder img {
  width: 100%;
}

.tegum_services_page {
  position: relative;
}
.tegum_services_page .margin_helper {
  margin-top: 152px;
}
@media only screen and (max-width: 991px) {
  .tegum_services_page .margin_helper {
    margin-top: 32px;
  }
}
.tegum_services_page .border_helper {
  border-left: 2px solid #0011ff;
}
.tegum_services_page_small_title {
  position: absolute;
  top: 66px;
  left: 72px;
  font-size: 16px;
}
@media only screen and (max-width: 1200px) {
  .tegum_services_page_small_title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_small_title {
    top: 26px;
    left: 17px;
  }
}
.tegum_services_page_title {
  margin-top: 152px;
  font-size: 22px;
  font-weight: 600;
}
@media only screen and (max-width: 1400px) {
  .tegum_services_page_title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_title {
    font-size: 16px;
    margin-top: 82px;
  }
}
.tegum_services_page_holder {
  margin-top: 132px;
}
.tegum_services_page_holder:first-child {
  margin-top: 0;
}
.tegum_services_page_holder:last-child {
  margin-bottom: 50px;
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_holder:last-child {
    margin-top: 42px;
    margin-bottom: 0;
  }
}
.tegum_services_page_holder_title {
  font-size: 22px;
  margin-bottom: 34px;
}
@media only screen and (max-width: 1400px) {
  .tegum_services_page_holder_title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_holder_title {
    font-size: 16px;
  }
}
.tegum_services_page_holder_description {
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_holder_description {
    font-size: 14px;
  }
}
.tegum_services_page_holder_description_2_1 {
  margin-top: 30px;
}
.tegum_services_page_holder_options {
  margin-top: 44px;
  padding-left: 56px;
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_holder_options {
    padding-left: 26px;
  }
}
.tegum_services_page_holder_options_title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_holder_options_title {
    font-size: 14px;
  }
}
.tegum_services_page_holder_options_description {
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (max-width: 991px) {
  .tegum_services_page_holder_options_description {
    font-size: 14px;
  }
}

.get_started_page {
  position: relative;
  padding: 114px 0 220px;
  background-color: #fff;
}
@media only screen and (max-width: 991px) {
  .get_started_page {
    padding: 140px 24px;
  }
}
.get_started_page_small_title {
  position: absolute;
  top: 57px;
  left: 72px;
  font-size: 16px;
}
@media only screen and (max-width: 1200px) {
  .get_started_page_small_title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .get_started_page_small_title {
    top: 26px;
    left: 17px;
  }
}
.get_started_page_title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 28px;
}
@media only screen and (max-width: 991px) {
  .get_started_page_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.get_started_page a {
  all: unset;
}
.get_started_page_btn {
  all: unset;
  width: 150px;
  height: 42px;
  text-align: center;
  background: #a3f34a;
  color: #000;
  border: 1px solid #a3f34a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .get_started_page_btn {
    font-size: 14px;
  }
}/*# sourceMappingURL=what_we_do_page.css.map */