//accourdion

.spacer {
    height: 50vh;
    background: #fff;
}

.spacer.bot {
    height: 100vh;
}

.wrapper {
    .acc_container {
        .item {
            height: 100px;
            overflow: hidden;

            & img {
                width: 100%;
                height: auto;
                margin-left: 10vw;
            }

            &_img_1 {
                display: none;
            }

            .hover_1:hover &_img_1 {
                display: block;
            }

            &_img_2 {
                display: none;
            }

            .hover_2:hover &_img_2 {
                display: block;
            }

            &_img_3 {
                display: none;
            }

            .hover_3:hover &_img_3 {
                display: block;
            }
        }

        #pin1,
        #pin2 {
            width: 100%;
        }

        #pin1 {
            height: calc(100vh - 100px * 2);

            & h1 {
                background-color: #fec506;
                height: 100px;
                border-bottom: 2px solid #000;
            }
        }

        #pin2 {
            h1 {
                background-color: #fec506;
                height: 100px;
                border-bottom: 2px solid #000;
            }
        }

        #pin3 {
            h1 {
                background-color: #fec506;
                height: 100px;
                border-bottom: 2px solid #000;
            }
        }
    }
}

//navbar

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    background: #fff;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    z-index: 100000;

    // .flex-container {
    //     display: flex;

    //     .flex-item {
    //         flex-grow: 2;
    //         position: relative;
    //         width: 50%;

    //         img {
    //             // width: 500px;
    //             // position: fixed;
    //             // right: 0;
    //         }
    //     }

    // }

    a {
        &.active {
            color: rgb(255, 123, 0);
        }
    }

    .opened {
        background: #fff;
    }

    .language_holder {
        display: inline-block;
        float: right;

        .sr {
            all: unset;
            display: none;

            &.active {
                display: inline-block;
            }
        }

        .en {
            all: unset;
            display: none;

            &.active {
                display: inline-block;
            }
        }
    }

    & ul {
        background-color: white;
        list-style: none;
        margin-bottom: 0;
        display: inline-block;

        &.dropdown-menu &.dropdown-menu {
            left: 100%;
            top: 0;
        }

        // &.dropdown-menu {
        // }

        &.dropdown-menu {
            display: none;
            position: fixed;
            min-width: 120px;
            background-color: #fff !important;
            width: 100%;
            left: 0;

            img {
                height: 500px;
            }
        }

        &.dropdown-menu li {
            display: block !important;
            white-space: nowrap;
        }

        & li {
            display: inline-block;

            &.dropdown {
                position: relative;
            }

            & a {
                display: block;
                color: gray;
                padding: 10px 20px;
                text-decoration: none;
            }
        }
    }
}

.main-navigation.nav-up {
    top: -60px;
}
