body {
    font-family: "Inter", sans-serif;
}

//accourdion

.spacer {
    height: 10px;
    background: #fff;
}

// .spacer.bot {
//     height: 100vh;
// }

.what_we_do {
    background: #a3f34a;
    padding: 150px 0 0;
    position: relative;

    &_small_title {
        position: absolute;
        top: 69px;
        left: 72px;
        font-size: 16px;
    }
    .wrapper {
        .acc_container {
            .container-fluid {
                // height: 100%;
                background-color: #fff;
            }
            .item {
                overflow: hidden;
                // margin-left: 72px;
                // margin-right: 72px;
                padding-right: 72px;
                padding-left: 72px;

                .services_small_title {
                    position: absolute;
                    top: 69px;
                    left: 66px;
                    font-size: 16px;

                    @media only screen and (max-width: 1440px) {
                        top: 39px;
                    left: 46px;
                     }
                }

                .padding_helper {
                    // padding: 17vh 0 17vh 13vh;
                    padding: 150px 0 150px 130px;
                    position: relative;

                    @media only screen and (max-width: 1440px) {
                        padding: 90px 0 90px 80px;
                    }
                }

                .option_holder {
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &_number {
                        color: #a4a4a4;
                        display: inline-block;
                        margin-right: 30px;
                        font-size: 28px;
                        font-weight: 400;

                        @media only screen and (max-width: 1440px) {
                           font-size: 24px;
                        }

                    }

                    &_title {
                        display: inline-block;
                        color: #000;
                        font-size: 28px;
                        font-weight: 600;

                        @media only screen and (max-width: 1440px) {
                            font-size: 24px;
                         }

                        &:hover {
                            color: #0011ff;
                            text-decoration: underline;
                        }
                    }
                }

                & img {
                    padding: 90px 0;
                    transform: scale(0.8);
                }

                &_img_1_1 {
                    display: none;
                }

                // .hover_animate_1_1:hover &_img_1_1 {
                //     display: block;
                // }

                &_img_1_2 {
                    display: none;
                }
            }

            .head_holder {
                background-color: #a3f34a;
                padding: 5vh 0;
                // border-bottom: 1px solid #000;
                border-top: 1px solid #000;
                position: relative;

                @media only screen and (max-width: 1400px) {
                    // padding: 30px 0;
                }

                .what_we_do_title {
                    font-size: 48px;
                    font-weight: 600;
                    display: inline-block;
                    margin: 0;
                    margin-right: 11vw;

                    @media only screen and (max-width: 1400px) {
                        font-size: 30px;
                    }
                }

                .what_we_do_description {
                    display: inline-block;
                    width: 35%;
                    vertical-align: top;
                    margin-top: 11px;
                }

                .what_we_do_btn {
                    position: absolute;
                    right: 0;
                    top: 71px;

                    .btn {
                        display: inline-block;
                        position: relative;
                        width: 150px;
                        height: 42px;
                        background: none;
                        border: none;
                        color: #0011ff;
                        font-size: 16px;
                        font-weight: bold;
                        cursor: pointer;
                        // margin: 20px 30px;
                        // background: rgba(0, 0, 0, 0.09);
                        background: transparent;
                        span {
                            display: block;
                        }
                    }
                    .additional {
                        display: inline-block;
                        position: relative;
                        width: 150px;
                        height: 42px;
                        border: none;
                        color: #0011ff;
                        font-size: 16px;
                        font-weight: bold;
                        cursor: pointer;
                        // margin: 20px 30px;
                        background: transparent;
                        position: absolute;
                        span {
                            display: block;
                        }
                    }

                    .additional::before,
                    .additional::after {
                        content: "";
                        width: 20px;
                        height: 2px;
                        position: absolute;
                        transition: all 0.2s linear;
                        background: #0011ff;
                    }

                    .btn::before,
                    .btn::after {
                        content: "";
                        width: 20px;
                        height: 2px;
                        position: absolute;
                        transition: all 0.2s linear;
                        background: #0011ff;
                    }

                    span::before,
                    span::after {
                        content: "";
                        width: 2px;
                        height: 40px;
                        position: absolute;
                        transition: all 0.2s linear;
                        background: #0011ff;
                    }

                    .btn:hover::before,
                    .btn:hover::after {
                        width: 100%;
                    }

                    .additional.hovered::before,
                    .additional.hovered::after {
                        width: 150px;
                        right: 0;
                    }
                    .btn:hover span::before,
                    .btn:hover span::after {
                        height: 100%;
                    }
                    .btn-6::before {
                        left: -9px;
                        top: 0;
                        transition-duration: 0.4s;
                    }
                    .btn-6::after {
                        left: -9px;
                        bottom: 0;
                        transition-duration: 0.4s;
                    }
                    .btn-7::before {
                        right: -9px;
                        top: 0;
                        transition-duration: 0.4s;
                    }
                    .btn-7::after {
                        right: -9px;
                        bottom: 0;
                        transition-duration: 0.4s;
                    }
                    .btn-6 span::before {
                        left: 0;
                        top: 0;
                        transition-duration: 0.4s;
                    }
                    .btn-6 span::after {
                        right: 0;
                        top: 0;
                        transition-duration: 0.4s;
                    }
                    .btn-6:hover::before,
                    .btn-6:hover::after {
                        left: 0;
                    }

                    .btn-6:hover span::before,
                    .btn-6:hover span::after {
                        top: 0;
                    }
                }
            }

            #pin1 {
                height: calc(100vh );
                // height: 900px;
            }

            #pin2,
            #pin3 {
                height: calc(100vh);
                // height: 900px;
            }
        }
    }
}

//navbar

.plus-minus-toggle {
    display: inline-block;
    cursor: pointer;
    height: 7px;
    position: relative;
    width: 20px;
    &:before,
    &:after {
        background: #000;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        top: 0;
        width: 10px;
        transition: transform 300ms ease;
    }
    &:after {
        transform-origin: center;
    }
    &.collapsed {
        &:after {
            transform: rotate(90deg);
        }
        &:before {
            transform: rotate(180deg);
        }
    }
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // border-bottom: 1px solid #eeeeee;
    background: #fff;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    z-index: 100000;
    font-size: 16px;

    .nav_logo {
        position: absolute;
        top: 40px;
        left: 72px;
    }

    // .flex-container {
    //     display: flex;

    //     .flex-item {
    //         flex-grow: 2;
    //         position: relative;
    //         width: 50%;

    //         img {
    //             // width: 500px;
    //             // position: fixed;
    //             // right: 0;
    //         }
    //     }

    // }

    a {
        &.active {
            color: rgb(255, 123, 0);
        }
    }

    .opened {
        background: #fff;
    }

    .language_holder {
        display: inline-block;
        float: right;
        position: absolute;
        right: 72px;
        top: 35px;

        .inquire_btn {
            all: unset;
            width: 150px;
            height: 42px;
            text-align: center;
            background: #a3f34a 0% 0% no-repeat padding-box;
            border: 1px solid #a3f34a;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }

        .sr {
            all: unset;
            display: none;
            font-size: 16px;
            margin-right: 60px;
            cursor: pointer;

            &.active {
                display: inline-block;
            }
        }

        .en {
            all: unset;
            display: none;
            font-size: 16px;
            margin-right: 60px;
            cursor: pointer;

            &.active {
                display: inline-block;
            }
        }
    }

    & ul {
        background-color: white;
        list-style: none;
        margin-bottom: 0;
        display: inline-block;
        padding-left: 370px;

        &.dropdown-menu &.dropdown-menu {
            left: 100%;
            top: 0;
        }

        // &.dropdown-menu {
        // }

        &.dropdown-menu {
            display: none;
            position: fixed;
            min-width: 120px;
            background-color: #fff !important;
            width: 100%;
            left: 0;

            img {
                height: 500px;
            }
        }

        &.dropdown-menu li {
            display: block !important;
            white-space: nowrap;
        }

        & li {
            display: inline-block;

            &.dropdown {
                position: relative;
            }

            & a {
                display: block;
                color: #000000;
                padding: 40px 35px;
                text-decoration: none;
            }
        }
    }
}

.main-navigation.nav-up {
    top: -132px;
}

.main_section {
    margin-top: 225px;

    &_holder {
        width: 60%;
        margin-bottom: 156px;
        &_title {
            font-size: 52px;
            font-weight: 800;
            margin-bottom: 20px;
        }

        &_description {
            font-size: 22px;
        }
    }

    &_img {
        width: 100%;
    }
}

.about_us {
    padding: 200px 0;
    position: relative;

    &_title {
        position: absolute;
        top: 50px;
        left: 72px;
        font-size: 16px;
    }
    .card_scroller {
        flex-wrap: inherit !important;

        overflow-x: scroll;
        overflow-y: hidden;

        .flex_columns {
            position: relative;
            padding-right: 120px;
            padding-left: 0;
            width: 46%;

            &:last-child {
                margin-right: 12px;
            }

            &_plus {
                position: absolute !important;
                top: 12px;
                display: inline-block;
                cursor: pointer;
                height: 7px;
                position: relative;
                width: 20px;
                &:before,
                &:after {
                    background: #000;
                    content: "";
                    height: 2px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 20px;
                    transition: transform 300ms ease;
                }

                &:after {
                    transform-origin: center;
                }
                &.collapsed {
                    &:after {
                        transform: rotate(90deg);
                    }
                    &:before {
                        transform: rotate(180deg);
                    }
                }
            }

            &_title {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 14px;
                padding-left: 40px;
            }

            &_description {
                font-size: 16px;
                padding-left: 40px;
            }
        }
    }

    .card_scroller::-webkit-scrollbar {
        width: 0 !important;
        // -webkit-appearance: none !important;
        // height: 0 !important;
        // background-color: transparent !important;
    }
    .card_scroller::-ms-scrollbar {
        width: 0 !important;
        // -ms-appearance: none !important;
        // height: 0 !important;
        // background-color: transparent !important;
    }
}

.testimonials {
    padding: 290px 0 300px;
    // text-align: center;

    &_holder {
        width: 36%;
        margin: auto;

        &_img {
            display: inline-block;
            margin-right: 55px;
            width: 55px;
            vertical-align: top;
            margin-top: 9px;
        }

        &_text {
            display: inline-block;
            font-size: 18px;
            width: 70%;

            &_description {
                margin-bottom: 20px;
            }
        }
    }
}

.expertise {
    background-color: #f3f3f3;
    &_holder {
        margin-left: 72px;
        margin-right: 72px;
        padding: 56px 0;
        position: relative;
        border-bottom: 1px solid #000;

        &:first-child {
            padding: 90px 0;
        }

        &:last-child {
            border-bottom: unset;
        }

        &_number {
            position: absolute;
            top: 20px;
            left: 0;
            color: #a4a4a4;
            font-size: 18px;
            font-weight: 400;
        }

        &_number_main {
            top: 70px;
            width: 21vw;
        }

        &_title {
            font-size: 30px;
            color: #0011ff;
            display: inline-block;
            margin-left: 15%;
            font-weight: 600;
        }

        &_description {
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
            width: 30vw;
            float: right;
            margin-right: 90px;
        }

        &_description_main {
            margin-top: -20px;
        }
    }
}

.challenges {
    padding: 270px 0;

    .margin_helper {
        // margin-left: 14vw;
    }

    .holder {
        // margin-left: 174px;
        width: 60%;
        margin-top: 220px;

        a {
            all: unset;
        }
    }
    &_title {
        font-size: 46px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    &_btn {
        all: unset;
        width: 150px;
        height: 42px;
        text-align: center;
        background: #a3f34a 0% 0% no-repeat padding-box;
        border: 1px solid #a3f34a;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
}

.footer {
    padding: 80px 0;
    color: #a4a4a4;
    background-color: #000;
    position: relative;

    a {
        all: unset;
    }

    &_list {
        .sr {
            all: unset;
            display: none;
            font-size: 16px;
            margin-right: 60px;
            cursor: pointer;

            &.active {
                display: inline-block;
            }
        }

        .en {
            all: unset;
            display: none;
            font-size: 16px;
            margin-right: 60px;
            cursor: pointer;

            &.active {
                display: inline-block;
            }
        }
        ul {
            list-style: none;
            display: inline-block;
            padding-left: 0;

            li {
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                margin-right: 85px;
                cursor: pointer;

                a {
                    all: unset;
                }
            }
        }
    }

    &_contact {
        font-size: 14px;
        font-weight: 400;
        margin-top: 76px;
        margin-bottom: 150px;
    }

    &_btn {
        all: unset;
        width: 150px;
        height: 42px;
        text-align: center;
        background: #a3f34a 0% 0% no-repeat padding-box;
        border: 1px solid #a3f34a;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        color: #000;
        position: absolute;
        top: 78px;
        right: 72px;
    }
}
